@import url(https://fonts.googleapis.com/css?family=Pacifico);


body {
  font-family: 'Dokdo', cursive;
  font-family: 'Gaegu', cursive;
  font-family: 'Gamja Flower', cursive;
}
img {
  display: block;
}
.inner {
  position: relative;
}
header {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/headbg.jpeg); */
  background-color: #EEEEEE;
  background-position: center 30%;
  background-size: cover;
  width: 100%;
  padding-top: 100px;
}
header .inner {
  display: flex;
  justify-content: center;
}

header .inner > img {
  width: 250px;
  height: 250px;
}


footer {
  background-color: #272727;
  border-top: 1px solid #999;
  height: 100px;
 }
 footer .inner {

 }
 footer .info {
   padding-top: 50px;
   text-align: center;
   margin-right: 30px;
 }
 footer .info span {
   margin-right: 20px;
   color: #999;
   font-size: 16px;
 }
 footer .info span:last-child {
   margin-right: 0;
 }


