@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* 직접 */
body {
  font-family: "Dokdo", cursive;
  font-family: "Gaegu", cursive;
  font-family: "Gamja Flower", cursive;

  font-family: "Roboto", sans-serif;
}

.post-boxs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 50%;
  height: 50%;
}
.post-user {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
}

