header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffc8c8;
    padding: 5px;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}

header img {
    height: 40px;
}

header nav {
    margin-right: 10px;
}

nav a {
    border-radius: 5px;
    background: #fff0d9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 1px rgba(0, 0, 0, 0.23);
    padding: 7px;
}

.column {
    padding: 20px;
    background-color: #ffffff;
    /*border-radius: 16px;*/
    /*border: #c0deff solid 5px;*/
    border-top: 20px solid #c0deff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16), 0 2px 2px rgba(0, 0, 0, 0.23);
}

#random-user {
    justify-content: space-between;
}

#random-user .card:not(:last-of-type) {
    margin-right: 20px;
}

#category {
    text-align: left;
}

#category li {
    margin-bottom: 10px;
}

#myProfile .card-img-top {
    max-width: 180px;
}

.card {
    margin: auto;
}

.small_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.small_title h2 {
    padding: 5px 0;
    color: #0b5aa2;
    font-weight: bold;
    font-size: 24px;
}

.board-content {
    line-height: 26px;
}

.board-content:after {
    content: "";
    display: block;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 60%, rgb(255, 255, 255) 100%);
}

.short-description {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}