<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script crossorigin="anonymous"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/category.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

<!--  <link href="{{ url_for('static', filename='css/mypage.css') }}" rel="stylesheet">-->
<!--  <script src="{{ url_for('static', filename='js/mypage.js') }}"></script>-->

<!--    <link href="{{ url_for('static', filename='css/useredit.css') }}" rel="stylesheet">-->
<!--    <script src="{{ url_for('static', filename='js/useredit.js') }}"></script>-->

<!--    <link href="{{ url_for('static', filename='css/board.css') }}" rel="stylesheet">-->
<!--    <script src="{{ url_for('static', filename='js/board.js') }}"></script>-->

  <title>개발 is in</title>
</head>
<body>
{% include "components/header.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2"> <!-- [뉴스피드 분류], [나의 프로필] -->
      {% include "components/category_list.html" %}
      {% if session['id'] and component_name != 'mypage' and component_name != 'useredit' %}
      {% include "components/my_profile.html" %}
      {% endif %}
    </div>
    <div class="col-10"> <!-- [랜덤 프로필 & 뉴스피드], [마이 페이지], [프로필 수정 페이지] -->
<!--      {% if component_name == 'mypage' %}-->
<!--      {% include "components/main_mypage.html" %}-->
<!--      &lt;!&ndash;      {% elif component_name == 'useredit' %}&ndash;&gt;-->
<!--      &lt;!&ndash;      {% include "components/main_useredit.html" %}&ndash;&gt;-->
<!--      &lt;!&ndash;      {% elif component_name == 'post' %}&ndash;&gt;-->
<!--      &lt;!&ndash;      {% include "components/main_post.html" %}&ndash;&gt;-->
<!--      {% else %}-->
      {% include "components/random_profile.html" %}
      {% if component_name == 'category' %}
      {% include "components/main_category.html" %}
      {% else %}
      {% include "components/main.html" %}
      {% endif %}
      <div class="d-flex justify-content-center" style="height: 32px; margin: 50px 0;"> <!-- 로딩 효과용 box -->
        <div class="spinner-border" id="loading-icon" role="status"></div>
        <div id="loading-message" style="display: none;">게시글이 없습니다. 새 게시글을 작성해주세요!</div>
      </div>
<!--      {% endif %}-->
    </div>
  </div>
</div>
</body>
</html>