<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- CSS 연결 -->
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      href="{{ url_for('static', filename='css/reset.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/style.css') }}"
      rel="stylesheet"
    />

    <!-- javascript 연결 -->
    <script defer src="../static/js/login.js"></script>

    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300;400;700&family=Gamja+Flower&display=swap"
      rel="stylesheet"
    />

    <title>개발 is in</title>
    <link rel="icon" href="../static/img/icon.png" />
  </head>

  <body>
    {% include "components/header.html" %}

    <!---------------------------- Form----------------------------------------------------->
    <div class="form">
      <div class="form-toggle"></div>
      <div class="form-panel one">
        <div class="form-header">
          <h1>Account Login</h1>
        </div>
        <div class="form-content">
          <form>
            <div class="form-group">
              <label for="userid">Userid</label
              ><input
                type="text"
                id="userid"
                name="userid"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label
              ><input
                type="password"
                id="password"
                name="password"
                required="required"
              />
            </div>
            <!-- 아이디저장과 아이디찾기,패스워드변경 여기까지 -->
            <div class="box">
              <span class="input-wrap">
                <input type="checkbox" id="checkId" name="checkId" />
                <label for="checkId"><span></span></label>
                아이디 저장
              </span>
              <span class="find">
                <span
                  class="idSearch"
                  id="idSearch"
                  style="cursor: hand; cursor: pointer"
                  onclick="findId()"
                >
                  아이디 찾기 |
                </span>
                <span
                  class="pwSearch"
                  id="pwSearch"
                  style="cursor: hand; cursor: pointer"
                  onclick="deleteUser()"
                >
                  회원탈퇴
                </span>
              </span>
            </div>
            <!-- 아이디저장과 아이디찾기,패스워드변경 여기까지-->
            <div class="form-group">
              <button type="button" class="top-margin" onclick="user_login()">
                Log In
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="form-panel two">
        <div class="form-header">
          <h1>Register Account</h1>
        </div>
        <div class="form-content">
          <form>
            <div class="form-group">
              <label for="joinid">Userid</label
              ><input
                type="text"
                id="joinid"
                name="joinid"
                required="required"
              />
              <!-- <button
                type="button"
                class="id_overlap_button"
                onclick="id_overlap_check()"
              >
                check
              </button>
              <img id="id_check_sucess" style="display: none" /> -->
            </div>
            <div class="form-group">
              <label for="joinpassword">Password</label
              ><input
                type="password"
                id="joinpassword"
                name="joinpassword"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="username">Username</label
              ><input
                type="text"
                id="username"
                name="username"
                required="required"
              />
            </div>
            <div class="form-group">
              <label for="email">Email Address</label
              ><input
                type="email"
                id="email"
                name="email"
                required="required"
                placeholder="abc@naver.com"
              />
            </div>
            <div class="form-group">
              <button type="button" onclick="save_user()">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
