<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <!-- CSS 연결 -->
    <link rel="stylesheet" href="../static/css/post.css" />

    <!-- javascript 연결 -->
    <script defer src="../static/js/post.js"></script>

    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dokdo&family=Gaegu:wght@300;400;700&family=Gamja+Flower&display=swap"
        rel="stylesheet">

    <title>개발 is in</title>
    <link rel="icon" href="../static/img/icon.png" />


</head>

<body>
    <header>
        <div class="inner">
            <div class="logo">
                <a href="/">

                    <img class="logo-image" src="../static/image/개발isinhalf.png" alt="타이틀로고" />

                </a>
            </div>
            <div class="title">

            </div>

            <div class="lg-button">
                <button class="login-button" type="button" onclick="location.href='/login' ">
                    가입신청<br>로그인

                </button>
            </div>
        </div>
    </header>

    <div class="post-boxs">
        <div class="form-header">
            <h1>POST</h1>
        </div>
        <div class="post-user">
            <!-- 프로필사진도 db에 존재하면 변경, 로그인을 했을 경우 작성자의 닉네임 가져오기 -->
            <img class="profile-image" src="../static/image/baseprofile.png" alt="타이틀로고"/>
            <p>작성자닉네임 : {{session['name']}}</p>
            <p>작성자이메일 : {{session['email']}}</p>
        </div>
        <div class="post-contents">
            <div class="mb-3">
                <select class="form-select" required aria-label="select example">
                    <option value="">게시글 분야</option>
                    <option value="1">FE</option>
                    <option value="2">BE</option>
                    <option value="3">ETC</option>
                </select>
                <div class="invalid-feedback">게시글의 분야를 선택하지않았습니다.</div>
            </div>
            <div class="form-content">
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">제목</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="제목을 입력해주세요.">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Upload</label>
                    </div>
                    <div class="post-button"><button type="button">동록하기</button></div>
                </form>
            </div>

        </div>
    </div>

</html>