<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <link href="{{ url_for('static', filename='css/reset.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/useredit.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/useredit.js') }}"></script>

    <title>개발 is in</title>
</head>
<body>
{% include "components/header.html" %}
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="column">
        {% include "components/category_list.html" %}
      </div>
    </div>
    <div class="col-10">
      <h1 class="my-profile-title">프로필 수정</h1>
      <div class="my-profile">
        <div class="my-profile-img">
          <img src="{{ url_for('static', filename='image/default_image.png') }}" class="rounded" alt="...">
          <div class="my-profile-img-button">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
            <button class="btn btn-primary btn-lg btn-block" type="submit">업로드</button>
            <button class="btn btn-primary btn-lg btn-block btn-del" onclick="edit_user_post()">삭제</button>
          </div>
        </div>

        <div class="form-group row">
          <label for="user-id" class="col-sm-2 col-form-label">아이디</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="user-id" value="{{session['id']}}">
          </div>
        </div>

        <div class="form-group">
          <label for="user-name" class="form-label mt-4">이름</label>
          <input type="text" class="form-control" id="edit-name" name="value_name" value="">
        </div>

        <div class="form-group">
          <label for="user-email" class="form-label mt-4">이메일</label>
          <input type="text" class="form-control" id="edit-email" name="value_email" value="">
        </div>

      <form>
        <div id="form-user-desc"></div>
      </form>

      <div class="my-profile-pw-btn">
        <div class="form-group">
          <label class="form-label mt-4" for="password">비밀번호 확인</label>
          <input type="password" class="form-control" id="user-pw-check" />
          <div class="invalid-feedback" id="check-msg"></div>
        </div>
        <div class="my-profile-button">
          <button class="btn btn-primary btn-lg btn-block" onclick="edit_user_post()">수정</button>
          <button class="btn btn-primary btn-lg btn-block btn-can" onclick="history.back()">취소</button>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>