header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffc8c8;
    padding: 5px;
    margin-bottom: 10px;
    letter-spacing: 0.1rem;
}

header img {
    height: 40px;
}

header a {
    border-radius: 5px;
    background: #fff0d9;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 15%);
    padding: 7px;
    margin-right: 1rem;
}


.column {
    height: 800px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
}

#category {
    text-align: left;
    height: 400px;
}

#category li {
    margin-bottom: 10px;
}

#myProfile {
    height: 400px;
}

#myProfile .card-img-top {
    width: 150px;
    height: 150px;
    margin: auto;
}
.card {
    margin: auto;
}
