<div class="column">
  <div class="small_title">
    <h2>전체 뉴스피드</h2>
    <nav>
<!--      <a href="">페이지 형식 보기</a>-->
      {% if session['id'] %}
      <a href="{{url_for('post')}}">글쓰기</a>
      {% else %}
      {% endif %}
    </nav>
  </div>
  <div id="all-board-list">
    <div style="display: flex; align-items: center;">
      <img alt="이미지가 없습니다" class="img-fluid rounded-start"
           src="../static/image/user/${image}"
           style="height: 40px;">
      <span>{user_name}</span>
    </div>
    <div class="card" style="margin-bottom: 10px;">
      <div class="card-body">
        <blockquote class="blockquote mb-0" style="height: 120px;">
          <div style="margin-bottom: 10px;">
            <span>${name}</span>
            <span style="text-align: right; font-size: 12px">(${time})</span>
          </div>
          <span>${content}</span>
        </blockquote>
      </div>
    </div>
  </div>
</div>