<h1 class="my-profile-title">개인 프로필</h1>
<div class="my-profile">
  <div class="my-profile-imgsub">
    <div class="my-profile-img">
      <img alt="..." class="rounded" src="{{ url_for('static', filename='image/default_image.png') }}">
    </div>
    <div class="my-profile-sub" style="padding-left: 60px;">
      <div class="my-profile-name">
        닉네임 : {{session['name']}}
      </div>
      <div class="my-profile-description">
        소개글
      </div>
      <div class="my-profile-description-v">
        {{session['description']}}
      </div>
      <div class="my-profile-email">
        이메일 : {{session['email']}}
      </div>
    </div>
  </div>
  <div class="my-profile-button">
    <button class="btn btn-primary btn-lg btn-block" type="submit"  onclick="location.href='/useredit'">프로필 수정</button>
  </div>
</div>
<h1 class="my-profile-board" id="my-profile-board" style="margin-top: 15px;">게시글</h1>