<style>
    #myProfile .items-body, #myProfile .card-body {
        text-align: center;
    }
</style>
<div class="items">
  <div id="myProfile">
    <div class="card" style="width: 100%;">
      <div class="items-head">
        <p>나의 프로필</p>
        <hr>
      </div>
      <div class="items-body">
        <img alt="이미지가 없습니다" class="card-img-top"
             src="../static/image/user/{{session['image']}}">
        <div class="card-body">
          <p class="card-title">{{session['name']}}</p>
          <p style="font-size: 12px;" class="card-title">({{session['id']}})</p>
          <p class="card-text short-description" style="margin: 10px 0;">{{session['description']}}</p>
          <a class="btn btn-primary" href="/mypage">자세히 보기</a>
        </div>
      </div>
    </div>
  </div>
</div>