<div class="card-group">
    <div class="card mb-3" style="max-width: 540px; margin-right: 30px">
        <div class="row g-0">
            <div class="col-md-4">
                <img alt="이미지가 없습니다" class="img-fluid rounded-start" style="height: 70px;"
                     src="{{ url_for('static', filename='images/default_image.png') }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">OOO</h5>
                    <p class="card-text">소개글</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px; margin-right: 30px">
        <div class="row g-0">
            <div class="col-md-4">
                <img alt="이미지가 없습니다" class="img-fluid rounded-start" style="height: 70px;"
                     src="{{ url_for('static', filename='images/default_image.png') }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">OOO</h5>
                    <p class="card-text">소개글</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img alt="이미지가 없습니다" class="img-fluid rounded-start" style="height: 70px;"
                     src="{{ url_for('static', filename='images/default_image.png') }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">OOO</h5>
                    <p class="card-text">소개글</p>
                </div>
            </div>
        </div>
    </div>
</div>